

{% load static %}
{% include "navbar.html" %}
{% include "bootstrap.html" %}    

<p>
    <h3>Name: ROHIT RAUT</h3>
    <br>
    About:
        Master's student at CSU Chico. I am doing masters in Computer Science. 
        I am a professional artist. I am interested in Machine Learning and Artificial Intelligence. 
    <br>
    <br>
    Goals and Interests: I want to work in GOOGLE one day.
    <br>
    <br>
    <div class="col-2">
        <img src="{%static 'img/rohit.jpg'%}" class="img-fluid" />
    </div>
    </p>
